<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>

<body>

    <nav class="mobile-nav" class="desk-nav">
            <a href="#">Home</a>
            <a href="/about">About</a>
            <a href="/proyects">Proyects</a>
            <a href="/users">Users</a>
            <a href="/admin">Admin</a>
            <a href="/contact">Contact</a>

                <a href="https://twitter.com/nachowosky"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://ar.linkedin.com/in/ignacio-oreiro-90602b214"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://github.com/IgnacioOreiro"><i class="fa-brands fa-github"></i></a>
    </nav>
    
    <button class="hamburger">
        <div class="bar"></div>
    </button>


    <main>
        <section class="container">
            <h1 class="title">Hola! Soy ignacio, FullStack Developer.</h1>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic dignissimos tempora necessitatibus, dolores
                perspiciatis numquam esse commodi veniam itaque dolore non reiciendis ullam enim atque aut perferendis
                nobis quos molestias.</p>
        </section>
    </main>

    <script src="/js/home.js" type="text/javascript"></script>
</body>

</html>